.display {
  grid-column: span 4;
  background-color: rgba(87, 76, 76, 0.658);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-size: 2.1rem;
  overflow: hidden;
  background-color: #ccc;
}
